<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
      .comment {
        border-radius: 5px;
        width: 98.6%;
        height: 100px;
        padding: 10px;
        background-color: #d0e2bc;
      }
    </style>
  </head>
  <body>
    <form action="/form/submit" method="POST">
      <textarea class="comment" placeholder=" Type your comment here."></textarea>
      <br>
      <input type="submit" name="submit" value="Send" style="border-radius: 5px;">
    </form>
  </body>
</html>