<!DOCTYPE html>
<html>

<body>

    <h2>Student Forms</h2>
    <form action="/add-user" method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="firName" placeholder="first name"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lasName" placeholder="last name"><br>
        <label for="fname">ph number:</label><br>
        <input type="text" id="phon" name="phon" placeholder="ph number"><br>
        <label for="lname">email:</label><br>
        <input type="text" id="emai" name="emai" placeholder="email"><br>
        <label for="lname">address:</label><br>
        <input type="text" id="add" name="add" placeholder="address"><br>
        <label for="date">date:</label><br>
        <input type="text" id="date" name="date" placeholder="address"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>