<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post View</title>
</head>
<body>
    <h1>Title: <%= post.title %> </h1>
    <p>Title: <%= post.content %> </p>
    <p>created Date: <%= post.createdDate %> </p>
    <p>updated Date: <%= post.updatedDate %> </p>
</body>
</html>