<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegistrationForm</title>
</head>
<body>
    <form action="/succesregistration" method="post">
    <label for="Name"><b>Name</b></label><br>
    <input type="text" placeholder="Enter Name" name="Name" id="Name" ><br><br>

    <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" name="email" id="email" ><br><br>

    <label for="mobile"><b>mobile</b></label><br>
    <input type="text" placeholder="Enter mobile no:" name="mobile" id="mobile" ><br><br>

    <label for="password"><b>password</b></label><br>
    <input type="text" placeholder="Enter password" name="password" id="password" ><br><br>

    <button>Submit</button>
    </form>
</body>
</html>